:root {
    --fire-boundary-size: auto;
    --fire-boundary-background-position: auto auto;
    --fire-boundary-frame-position: auto auto;
    --fire-boundary-frame-width: 150px;
    --fire-boundary-frame-height: 150px;
    --fire-boundary-frame-x: 350px;
    --fire-boundary-frame-y: 350px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Chivo', sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #404040;
    height: 100vh;
    overflow: hidden;
}

@media only screen and (max-device-width: 480px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }
}

h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 400;
    margin-block-start: 24px;
    margin-block-end: 24px;
}

@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
        margin-block-start: 12px;
        margin-block-end: 12px;
    }
}

h2 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    margin-block-start: 18px;
    margin-block-end: 18px;
}

@media only screen and (max-device-width: 480px) {
    h2 {
        font-size: 18px;
        line-height: 30px;
    }
}

.sections {
    overflow: scroll;
    scroll-snap-type: y proximity;
    height: 100vh;
}

.section {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: 72px;
    scroll-snap-align: start;
    position: relative;
}

@media only screen and (max-device-width: 900px) {
    .section {
        padding: 30px;
    }
}

@media only screen and (max-device-width: 480px) {
    .section {
        padding: 18px;
    }
}

.white {
    color: white;
}

.orange {
    color: #FF5722;
}

.grey {
    color: #999999;
}

.small {
    font-size: 18px;
    line-height: 24px;
}

@media only screen and (max-device-width: 480px) {
    .small {
        font-size: 14px;
        line-height: 18px;
    }
}

.frame {
    outline: 2px rgba(255, 255, 255, 0.25) solid;
    box-sizing: border-box;
    outline-offset: -2px;
    border-style: solid;
    border-width: 2px;
    border-image-source: url(assets/white-corner.svg);
    border-image-slice: 50%;
    border-image-width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Forest fires */

#forest-fires {
    display: grid;
    align-items: center;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-image: url(assets/drone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0 144px;
}

#forest-fires > * {
    grid-column: 1;
    grid-row: 2;
}

#forest-fires .frame {
    display: inline-flex;
    margin-left: -30px;
    padding: 0 30px;
    height: 120px;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 30px;
}

#forest-fires .button {
    display: flex;
    align-items: center;
    padding: 0 36px 0 0;
    margin: 0;
    justify-self: start;
    font-size: 24px;
    height: 78px;
    background-color: #FF5722;
    grid-column: 1;
    grid-row: 3;
    transition: all 0.5s;
    border-left: 144px #FF5722 solid;
    margin-left: -144px;
}

#forest-fires .button:hover {
    background-color: #ff7043;
    border-left-color:#ff7043;
}

/* An inneficient approach */

#an-inefficient-approach {
    background-image: url(assets/fire-man.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

/* People */

#people {
    display: grid;
    grid-template-rows: auto 1fr;
}

#people .content {
    margin-bottom: 48px;
}

#chart {
    justify-content: stretch;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(5, 1fr) 48px;
    height: 100%;
    align-items: end;
}

#chart .bar {
    background-color: #404040;
    margin: 0 20%;
    grid-row: 1 / 6;
}

#chart .rule {
    content: '';
    grid-column: 1 / 21;
    grid-row: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    align-self: start;
}

#chart span {
    grid-column: 1 / 21;
    grid-row: 6;
    margin: 0;
}

/* Global biodiversity */

#global-biodiversity {
    display: grid;
    grid-template-rows: auto 1fr;
}

#global-biodiversity .content {
    margin-bottom: auto;
}

#grid {
    align-self: end;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.animal:nth-child(n + 28) {
    display: none;
}

@media only screen and (max-device-width: 1200px) {
    #grid {
        grid-template-columns: repeat(8, 1fr);
    }

    .animal:nth-child(n + 25) {
        display: none;
    }
}

@media only screen and (max-device-width: 900px) {
    #grid {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 24px;
        row-gap: 24px;
    }

    .animal:nth-child(n + 25) {
        display: none;
    }
}

@media only screen and (max-device-width: 600px) {
    #grid {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 18px;
        row-gap: 18px;
    }

    .animal:nth-child(n + 21) {
        display: none;
    }
}

@media only screen and (max-device-width: 480px) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 17) {
        display: none;
    }
}

.animal {
    outline: 2px rgba(64, 64, 64, 0.25) solid;
    border-image-source: url(assets/grey-corner.svg);
    width: 100%;
    height: 100%;
}

.animal img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.disabled {
    filter: saturate(0);
    opacity: 0.1;
}

/* We developed tools to fight this */

#we-developed-tools-to-fight-this {
    background-color: #333333;
    text-align: center;
    display: flex;
}

#we-developed-tools-to-fight-this .content {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-self: center;
    margin: auto;
    color: #999;
}

#icons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    margin: 48px auto 0 auto;
    opacity: 0.25;
}

@media only screen and (max-device-width: 480px) {
}

#icons .frame img {
    width: 48px;
    height: 48px;
    margin: 18px;
}

@media only screen and (max-device-width: 480px) {
    #icons .frame img {
        margin: 12px;
        width: 24px;
        height: 24px;
    }
}

#icons .connector {
    display: inline-block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.25);
}

/* Fire boundary detection */

/* #fire-boundary-detection {
    background-image: url(assets/fire-boundary-detection-greyscale.jpg);
    background-size: var(--fire-boundary-size);
    background-position: var(--fire-boundary-background-position);
} */

#fire-boundary-detection .content {
    position: absolute;
    top: 355px;
    left: 550px;
    width: 600px;
}

#drone {
    position: absolute;
    top: 335px;
    left: 550px;
    transform:translate(-30px,-100%)
}

#mask {
    position: absolute;
    overflow: hidden;
    width: var(--fire-boundary-frame-width);
    height: var(--fire-boundary-frame-height);
    left: var(--fire-boundary-frame-x);
    top: var(--fire-boundary-frame-y);
    background-image: url(assets/fire-boundary-detection-color.jpg);
    background-size: var(--fire-boundary-size);
    background-position: var(--fire-boundary-frame-position);
}

#value {
    margin: 6px;
    background: white;
    color: black;
    font-size: 12px;
    font-weight: 700;
    padding: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Forecasting wildfire behavior */

#forecasting-wildfire-behavior {
    background-image: url(assets/forecasting-wildfire-behavior.jpg);
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    column-gap: 90px;
}

@media only screen and (max-device-width: 480px) {
    #forecasting-wildfire-behavior {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
    }

    #forecasting-wildfire-behavior > * {
        grid-column: 1;
    }

}

#forecasting-wildfire-behavior .content {
    width: 100%;
}

#forecasting-wildfire-behavior .content img {
    width: 100%;
    margin: 48px 0;
}

#weather-station {
    content: url(assets/weather-station.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 100%;
    height: 100%;
}

@media only screen and (max-device-width: 480px) {
    #weather-station {
        padding: 18px;
    }
}

/* Contact us */

#contact-us {
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: stretch;
    justify-content: center;
    background-color: #FF5722;
}

#contact-us .content {
    width: 100%;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    justify-self: center;
    align-self: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: auto;
    height: auto;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
    padding: 36px 60px;
}

@media only screen and (max-device-width: 480px) {
    .button {
        font-size: 18px;
        margin: 18px;
        padding: 18px 30px;
    }
}

a.button {
    text-decoration: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

#developed-by {
    position: relative;
    grid-column: 1;
    border-top:1px rgba(255, 255, 255, 0.25) solid;
}

#developed-by span {
    top: -12px;
    transform: translateX(-50%);
    position: absolute;
    background-color: #FF5722;
    padding: 0 24px;
}

#logo {
    display: block;
    margin: 48px auto;
    height: 48px;
}

@media only screen and (max-device-width: 480px) {
    #logo {
        margin: 24px auto;
        height: 30px;
    }
}