:root {
    --fire-boundary-size: auto;
    --fire-boundary-background-position: auto auto;
    --fire-boundary-frame-position: auto auto;
    --fire-boundary-frame-width: 150px;
    --fire-boundary-frame-height: 150px;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape) {
    :root {
        --fire-boundary-frame-width: 100px;
        --fire-boundary-frame-height: 100px;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Chivo', sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #404040;
    height: 100vh;
    overflow: hidden;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape) {
    body {
        font-size: 16px;
        line-height: 24px;
    }
}

@media only screen and (max-height: 300px) and (orientation: landscape) {
    body {
        font-size: 14px;
        line-height: 18px;
    }
}

h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 400;
    margin-block-start: 24px;
    margin-block-end: 24px;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape)  {
    h1 {
        font-size: 30px;
        line-height: 36px;
        margin-block-start: 12px;
        margin-block-end: 12px;
    }
}

h2 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    margin-block-start: 18px;
    margin-block-end: 18px;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape)  {
    h2 {
        font-size: 18px;
        line-height: 30px;
    }
}

.sections {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    height: 100vh;
}

.section {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: 72px;
    scroll-snap-align: start;
    position: relative;
}

@media only screen and (max-width: 840px) {
    .section {
        padding: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .section {
        padding: 18px;
    }
}

.white {
    color: white;
}

.orange {
    color: #FF5722;
}

.grey {
    color: #999999;
}

.small {
    font-size: 18px;
    line-height: 24px;
}

@media only screen and (max-width: 480px) {
    .small {
        font-size: 14px;
        line-height: 18px;
    }
}

.frame {
    outline: 2px rgba(255, 255, 255, 0.25) solid;
    box-sizing: border-box;
    outline-offset: -2px;
    border-style: solid;
    border-width: 2px;
    border-image-source: url(assets/white-corner.svg);
    border-image-slice: 50%;
    border-image-width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Forest fires */

#forest-fires {
    display: grid;
    align-items: center;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 1fr auto 1fr;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%), url(assets/drone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0 120px;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    #forest-fires {
        padding: 48px 120px 48px 72px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape) {
    #forest-fires {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        padding: 18px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

#forest-fires .content {
    grid-column: 1;
    grid-row: 2;
    width: min-content;
    padding: 0 30px;
}

@media only screen and (max-width: 840px) {
    #forest-fires .content {
        grid-row: 1;
        width: 100%;
    }
}

@media only screen and (max-width: 300px) and (orientation: portrait) {
    #forest-fires .content {
        padding: 0 18px;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    #forest-fires .content {
        align-self: self-start;
    }
}

#forest-fires .frame {
    display: inline-flex;
    padding: 0 30px;
    width: max-content;
    height: 120px;
    font-size: 72px;
    font-weight: 700;
    margin: 0 -30px 30px -30px;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape) {
    #forest-fires .frame {
        height: 90px;
        font-size: 36px;
        width: calc(100% + 60px);
    }
}

@media only screen and (max-width: 300px) and (orientation: portrait), only screen and (max-height: 300px) and (orientation: landscape) {
    #forest-fires .frame {
        height: 72px;
        font-size: 30px;
        margin: 0 -18px 18px -18px;
        width: calc(100% + 36px);
    }
}

#forest-fires .button {
    display: flex;
    align-items: center;
    padding: 0 36px 0 0;
    margin: 0;
    justify-self: start;
    font-size: 24px;
    height: 78px;
    background-color: #FF5722;
    grid-column: 1;
    grid-row: 3;
    transition: all 0.5s;
    border-left: 150px #FF5722 solid;
    margin-left: -120px;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape) {
    #forest-fires .button {
        align-self: end;
        justify-content: center;
        width: 100%;
        grid-row: 2;
        border-left: none;
        margin-left: 0;
        padding: 0 36px;
        font-size: 18px;
        height: 60px;
    }
}

#forest-fires .button:hover {
    background-color: #ff7043;
    border-left-color:#ff7043;
}

/* An inneficient approach */

#an-inefficient-approach {
    background-image: url(assets/fire-man.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

/* Map */

#map {
    background-color: #333;
    color: #FF5722;
    display: flex;
    align-items: center;
}

#map img {
    position: absolute;
    height: 150vh;
    top: 0;
    right: -50vh;
}

@media only screen and (orientation: portrait)  {
    #map img {
        height: 100vh;
        right: -50vh;
    }
}

#map .content {
    z-index: 1;
}

#map .description{
    width: 50%;
}

@media only screen and (orientation: portrait)  {
    #map .description{
        width: 100%;
    }
}

#map > h1 {
    width: max-content;
}

/* People */

#people {
    display: grid;
    grid-template-rows: auto 1fr;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape)  {
    #people {
        padding: 12px 30px;
    }
}

#people .content {
    margin-bottom: 48px;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape)  {
    #people .content {
        margin-bottom: 24px;
    }
}

#chart {
    justify-content: stretch;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(5, 1fr) auto;
    height: 100%;
    align-items: end;
}

#chart .bar {
    background-color: #404040;
    margin: 0 20%;
    grid-row: 1 / 6;
}

#chart .rule {
    content: '';
    grid-column: 1 / 21;
    grid-row: 1;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    align-self: start;
}

#chart span {
    grid-column: 1 / 21;
    grid-row: 6;
    margin: 0;
    padding: 12px 0;
    line-height: 18px;
}

/* Global biodiversity */

#global-biodiversity {
    display: grid;
    grid-template-rows: auto 1fr;
}

#global-biodiversity .content {
    margin-bottom: auto;
}

#grid {
    align-self: end;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.animal:nth-child(n + 31) {
    display: none;
}

/* iPhone 6/7/8 */
@media only screen and (width: 667px) and (height: 375px) and (orientation: landscape) {
    #grid {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 17) {
        display: none;
    }
}

@media only screen and (width: 375px) and (height: 667px) and (orientation: portrait) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 17) {
        display: none;
    }
}

/* iPhone 6/7/8 Plus*/
@media only screen and (width: 736px) and (height: 414px) and (orientation: landscape) {
    #grid {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 17) {
        display: none;
    }
}

@media only screen and (width: 414px) and (height: 736px) and (orientation: portrait) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 21) {
        display: none;
    }
}

/* iPhone X */
@media only screen and (width: 812px) and (height: 375px) and (orientation: landscape) {
    #grid {
        grid-template-columns: repeat(9, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 19) {
        display: none;
    }
}

@media only screen and (width: 375px) and (height: 812px) and (orientation: portrait) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 25) {
        display: none;
    }
}

/* iPad */
@media only screen and (width: 1024px) and (height: 768px) and (orientation: landscape) {
    #grid {
        grid-template-columns: repeat(7, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 22) {
        display: none;
    }
}

@media only screen and (width: 768px) and (height: 1024px) and (orientation: portrait) {
    #grid {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 21) {
        display: none;
    }
}

/* iPad Pro*/
@media only screen and (width: 1366px) and (height: 1024px) and (orientation: landscape) {
    #grid {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 33) {
        display: none;
    }
}

@media only screen and (width: 1024px) and (height: 1366px) and (orientation: portrait) {
    #grid {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 31) {
        display: none;
    }
}

/* Default */
@media only screen and (max-width: 840px) and (max-height: 450px) and (orientation: landscape) {
    #grid {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 17) {
        display: none;
    }
}

@media only screen and (max-width: 750px) and (max-height: 450px) and (orientation: landscape) {
    .animal:nth-child(n + 17) {
        display: none;
    }
}

@media only screen and (max-width: 750px) and (max-height: 300px) and (orientation: landscape) {
    .animal:nth-child(n + 9) {
        display: none;
    }
}

@media only screen and (max-width: 450px) and (max-height: 840px) and (orientation: portrait) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .animal:nth-child(n + 25) {
        display: none;
    }
}

@media only screen and (max-width: 450px) and (max-height: 750px) and (orientation: portrait) {
    .animal:nth-child(n + 17) {
        display: none;
    }
}

.animal {
    outline: 2px rgba(64, 64, 64, 0.25) solid;
    border-image-source: url(assets/grey-corner.svg);
    width: 100%;
    height: 100%;
}

.animal img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.disabled {
    filter: saturate(0);
    opacity: 0.1;
}

/* We developed tools to fight this */

#we-developed-tools-to-fight-this {
    background-color: #333333;
    text-align: center;
    display: flex;
}

#we-developed-tools-to-fight-this .content {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-self: center;
    margin: auto;
    color: #999;
}

#icons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    margin: 48px auto 0 auto;
    opacity: 0.25;
}

#icons .frame img {
    width: 48px;
    height: 48px;
    margin: 18px;
}

@media only screen and (max-width: 480px), only screen and (max-height: 300px) and (orientation: landscape) {
    #icons .frame img {
        margin: 12px;
        width: 24px;
        height: 24px;
    }
}

#icons .connector {
    display: inline-block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.25);
}

/* Fire boundary detection */

#fire-boundary-detection {
    background-image: url(assets/fire-boundary-detection-greyscale.jpg);
    background-size: var(--fire-boundary-size);
    background-position: var(--fire-boundary-background-position);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 33%;
}

@media only screen and (max-width: 1200px) {
    #fire-boundary-detection {
        padding: 0 20%;
    }
}

@media only screen and (max-width: 840px) {
    #fire-boundary-detection {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 480px) {
    #fire-boundary-detection {
        padding: 0 18px;
    }
}

@media only screen and (max-width: 840px) and (orientation: landscape) {
    #fire-boundary-detection {
        display: grid;
        column-gap: 18px;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 1fr;
        padding: 30px 18px;
    }
}

#drone {
    width: 250px;
    margin: 30px -42px;
}

@media only screen and (max-width: 840px) and (orientation: landscape) {
    #drone {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 480px) {
    #drone {
        width: 180px;
        margin: 18px -12px;
    }
}

#mask {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    width: var(--fire-boundary-frame-width);
    height: var(--fire-boundary-frame-height);
    background-image: url(assets/fire-boundary-detection-color.jpg);
    background-size: var(--fire-boundary-size);
    background-position: var(--fire-boundary-frame-position);
    background-repeat: no-repeat;
}

@media only screen and (max-width: 840px) and (orientation: landscape) {
    #mask {
        grid-column: 2;
        grid-row: 1;
    }

    #fire-boundary-detection .content {
        grid-column: 2;
        grid-row: 2;
    }
}

#value {
    margin: 4px;
    background: white;
    color: black;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    padding: 0 4px;
}

/* Forecasting wildfire behavior */

#forecasting-wildfire-behavior {
    background-image: url(assets/forecasting-wildfire-behavior.jpg);
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    column-gap: 90px;
}

@media only screen and (max-width: 480px) {
    #forecasting-wildfire-behavior {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
    }

    #forecasting-wildfire-behavior > * {
        grid-template-columns: 1fr 3fr;
        grid-column: 1;
    }

}

@media only screen and (max-width: 840px) and (orientation: landscape) {
    #forecasting-wildfire-behavior {
        grid-template-columns: 1fr 2fr;
        column-gap: 30px;
    }    
}

#forecasting-wildfire-behavior .content {
    width: 100%;
}

#forecasting-wildfire-behavior .content img {
    width: 100%;
    margin: 48px 0;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape)  {
    #forecasting-wildfire-behavior .content img {
        margin: 24px 0;
    }
}

#weather-station {
    content: url(assets/weather-station.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 480px)  {
    #weather-station {
        padding: 18px;
    }
}

@media only screen and (max-width: 840px) and (orientation: landscape) {
    #weather-station {
        padding: 0;
    }
}

/* Contact us */

#contact-us {
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: stretch;
    justify-content: center;
    background-color: #FF5722;
}

#contact-us .content {
    width: 100%;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    justify-self: center;
    align-self: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: auto;
    height: auto;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
    padding: 36px 60px;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape) {
    .button {
        font-size: 18px;
        margin: 18px;
        padding: 18px 30px;
    }
}

a.button {
    text-decoration: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

#developed-by {
    position: relative;
    grid-column: 1;
    border-top:1px rgba(255, 255, 255, 0.25) solid;
}

#developed-by span {
    top: -12px;
    transform: translateX(-50%);
    position: absolute;
    background-color: #FF5722;
    padding: 0 24px;
}

#logo {
    display: block;
    margin: 48px auto;
    height: 48px;
}

@media only screen and (max-width: 480px), only screen and (max-width: 840px) and (orientation: landscape) {
    #logo {
        margin: 24px auto;
        height: 30px;
    }
}